/*
Retool API

Go to Settings > API to get started. Once you generate an API token, use bearer token authentication to make requests.

API version: 2.8.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// UserTasksAPIService UserTasksAPI service
type UserTasksAPIService service

type ApiUserTasksTaskIdCancelPatchRequest struct {
	ctx context.Context
	ApiService *UserTasksAPIService
	taskId string
	userTasksTaskIdCancelPatchRequest *UserTasksTaskIdCancelPatchRequest
}

func (r ApiUserTasksTaskIdCancelPatchRequest) UserTasksTaskIdCancelPatchRequest(userTasksTaskIdCancelPatchRequest UserTasksTaskIdCancelPatchRequest) ApiUserTasksTaskIdCancelPatchRequest {
	r.userTasksTaskIdCancelPatchRequest = &userTasksTaskIdCancelPatchRequest
	return r
}

func (r ApiUserTasksTaskIdCancelPatchRequest) Execute() (*UserTasksTaskIdSubmitPatch200Response, *http.Response, error) {
	return r.ApiService.UserTasksTaskIdCancelPatchExecute(r)
}

/*
UserTasksTaskIdCancelPatch Cancels a user task.

Requires the User Tasks feature which is currently in private beta. Fill out the form at https://workflowstools.retool.com/form/0d8c9ebb-fba1-4c80-8d07-af75bdbf034e to request access. Available on Retool version 3.114+. Cancel a user task with a provided reason. The API token must have the "User Tasks > Write" scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskId
 @return ApiUserTasksTaskIdCancelPatchRequest
*/
func (a *UserTasksAPIService) UserTasksTaskIdCancelPatch(ctx context.Context, taskId string) ApiUserTasksTaskIdCancelPatchRequest {
	return ApiUserTasksTaskIdCancelPatchRequest{
		ApiService: a,
		ctx: ctx,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return UserTasksTaskIdSubmitPatch200Response
func (a *UserTasksAPIService) UserTasksTaskIdCancelPatchExecute(r ApiUserTasksTaskIdCancelPatchRequest) (*UserTasksTaskIdSubmitPatch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserTasksTaskIdSubmitPatch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTasksAPIService.UserTasksTaskIdCancelPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user_tasks/{taskId}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"taskId"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTasksTaskIdCancelPatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserTasksTaskIdReassignPatchRequest struct {
	ctx context.Context
	ApiService *UserTasksAPIService
	taskId string
	userTasksTaskIdReassignPatchRequest *UserTasksTaskIdReassignPatchRequest
}

func (r ApiUserTasksTaskIdReassignPatchRequest) UserTasksTaskIdReassignPatchRequest(userTasksTaskIdReassignPatchRequest UserTasksTaskIdReassignPatchRequest) ApiUserTasksTaskIdReassignPatchRequest {
	r.userTasksTaskIdReassignPatchRequest = &userTasksTaskIdReassignPatchRequest
	return r
}

func (r ApiUserTasksTaskIdReassignPatchRequest) Execute() (*UserTasksTaskIdSubmitPatch200Response, *http.Response, error) {
	return r.ApiService.UserTasksTaskIdReassignPatchExecute(r)
}

/*
UserTasksTaskIdReassignPatch Reassign a user task to a group or a user.

Requires the User Tasks feature which is currently in private beta. Fill out the form at https://workflowstools.retool.com/form/0d8c9ebb-fba1-4c80-8d07-af75bdbf034e to request access. Available on Retool version 3.114+. Reassigns a user task to a group or user based on the group or user id. The API token must have the "User Tasks > Write" scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskId
 @return ApiUserTasksTaskIdReassignPatchRequest
*/
func (a *UserTasksAPIService) UserTasksTaskIdReassignPatch(ctx context.Context, taskId string) ApiUserTasksTaskIdReassignPatchRequest {
	return ApiUserTasksTaskIdReassignPatchRequest{
		ApiService: a,
		ctx: ctx,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return UserTasksTaskIdSubmitPatch200Response
func (a *UserTasksAPIService) UserTasksTaskIdReassignPatchExecute(r ApiUserTasksTaskIdReassignPatchRequest) (*UserTasksTaskIdSubmitPatch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserTasksTaskIdSubmitPatch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTasksAPIService.UserTasksTaskIdReassignPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user_tasks/{taskId}/reassign"
	localVarPath = strings.Replace(localVarPath, "{"+"taskId"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTasksTaskIdReassignPatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserTasksTaskIdSubmitPatchRequest struct {
	ctx context.Context
	ApiService *UserTasksAPIService
	taskId string
	userTasksTaskIdSubmitPatchRequest *UserTasksTaskIdSubmitPatchRequest
}

func (r ApiUserTasksTaskIdSubmitPatchRequest) UserTasksTaskIdSubmitPatchRequest(userTasksTaskIdSubmitPatchRequest UserTasksTaskIdSubmitPatchRequest) ApiUserTasksTaskIdSubmitPatchRequest {
	r.userTasksTaskIdSubmitPatchRequest = &userTasksTaskIdSubmitPatchRequest
	return r
}

func (r ApiUserTasksTaskIdSubmitPatchRequest) Execute() (*UserTasksTaskIdSubmitPatch200Response, *http.Response, error) {
	return r.ApiService.UserTasksTaskIdSubmitPatchExecute(r)
}

/*
UserTasksTaskIdSubmitPatch Submits a user task.

Requires the User Tasks feature which is currently in private beta. Fill out the form at https://workflowstools.retool.com/form/0d8c9ebb-fba1-4c80-8d07-af75bdbf034e to request access. Available on Retool version 3.114+. Submits a user task with a provided output payload. The API token must have the "User Tasks > Write" scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param taskId
 @return ApiUserTasksTaskIdSubmitPatchRequest
*/
func (a *UserTasksAPIService) UserTasksTaskIdSubmitPatch(ctx context.Context, taskId string) ApiUserTasksTaskIdSubmitPatchRequest {
	return ApiUserTasksTaskIdSubmitPatchRequest{
		ApiService: a,
		ctx: ctx,
		taskId: taskId,
	}
}

// Execute executes the request
//  @return UserTasksTaskIdSubmitPatch200Response
func (a *UserTasksAPIService) UserTasksTaskIdSubmitPatchExecute(r ApiUserTasksTaskIdSubmitPatchRequest) (*UserTasksTaskIdSubmitPatch200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserTasksTaskIdSubmitPatch200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserTasksAPIService.UserTasksTaskIdSubmitPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/user_tasks/{taskId}/submit"
	localVarPath = strings.Replace(localVarPath, "{"+"taskId"+"}", url.PathEscape(parameterValueToString(r.taskId, "taskId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.userTasksTaskIdSubmitPatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
